.container{
    width: 100%;
    background-color: aqua;
    margin: 10px;
    padding: 20px;
    align-self: flex-start;
    align-items: stretch;
    display: flex;
    display: inline-block;
}
.top_row{
    width: 30%;
    height: 30%;
    background-color: bisque;
}
.middle_row{
    width: 30%;
    height: 30%;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
}
.bottom_row{
    width: 30%;
    height: 30%;
    background-color: cadetblue;
}